{{profile, "seed, no nodes"},
  {user, "User"},
  {password_file, "test/password.txt"},
  {seeds, [{"127.0.0.1", 3001}]}
}.

{{profile, "seeds, no nodes"},
  {user, "User"},
  {password_file, "test/password.txt"},
  {seeds, [{"127.0.0.1", 3001}, {"127.0.0.2", 3002}]}
}.

{{profile, "no seeds, node"},
  {user, "User"},
  {password_file, "test/password.txt"},
  {nodes, [{"255.0.0.1", 7001}]}
}.

{{profile, "seeds, nodes"},
  {user, "User"},
  {password_file, "test/password.txt"},
  {seeds, [{"127.0.0.1", 3001}, {"127.0.0.2", 3002}]},
  {nodes, [{"255.0.0.1", 7001}, {"255.0.0.2", 7002}]}
}.
