{{profile, no_user}
}.

{{profile, "no password"},
  {user, "User"}
}.

{{profile, "with password"},
  {user, "User"},
  {password, "Password"}
}.

{{profile, "with password file, no file"},
  {user, "User"},
  {password_file, "file_does_not_exist"}
}.

{{profile, "with password file, password short"},
  {user, "User"},
  {password_file, "test/password_short.txt"}
}.

{{profile, "with password file"},
  {user, "User"},
  {password_file, "test/password.txt"}
}.