{{profile, "full config"},
  {user, "User"},
  {password_file, "test/password.txt"},
  {seeds, [{"127.0.0.1", 3001}, {"127.0.0.2", 3002}]},
  {nodes, [{"255.0.0.1", 7001}, {"255.0.0.2", 7002}]},
  {connection_options, [
    {reconnect, false},
    {reconnect_time_min, 2000},
    {reconnect_time_max, 120000}]},
  {pool_options, [
    {backlog_size, 1024},
    {max_retries, 0},
    {pool_size, 1},
    {pool_strategy, random}]},
  {socket_options, [
    {mode, binary},
    {packet, raw},
    {buffer, 65535},
    {nodelay, true},
    {send_timeout, 50},
    {send_timeout_close, true}]}
}.
