{erl_opts, [debug_info]}.
{deps, [
    {aspike_discover, {git, "https://github.com/vsavkov/aspike-discover.git", {tag, "v0.1.1"}}},
    {aspike_node, {git, "https://github.com/vsavkov/aspike-node.git", {tag, "v0.1.1"}}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [aspike_perf]}
]}.
