{{profile, "1 node, pool size = 1"},
  {user, "your-cluster-user"},
  {password_file, "examples/cluster_password.txt"},
  {seeds, [{"your-cluster-seed-ip-address", your-cluster-seed-port-as-integer}]},
  {connection_options, [
    {reconnect, false},
    {reconnect_time_min, 2000},
    {reconnect_time_max, 120000}]},
  {pool_options, [
    {backlog_size, 1024},
    {max_retries, 0},
    {pool_size, 1},
    {pool_strategy, random}]},
  {socket_options, [
    {mode, binary},
    {packet, raw},
    {buffer, 65535},
    {nodelay, true},
    {send_timeout, 50},
    {send_timeout_close, true}]}
}.

{{profile, "2 nodes, pool size = 3"},
  {user, "your-cluster-user"},
  {password_file, "examples/cluster_password.txt"},
  {seeds, [{"your-cluster-seed-ip-address", your-cluster-seed-port-as-integer}]},
  {connection_options, [
    {reconnect, false},
    {reconnect_time_min, 2000},
    {reconnect_time_max, 120000}]},
  {pool_options, [
    {backlog_size, 1024},
    {max_retries, 0},
    {pool_size, 3},
    {pool_strategy, random}]},
  {socket_options, [
    {mode, binary},
    {packet, raw},
    {buffer, 65535},
    {nodelay, true},
    {send_timeout, 50},
    {send_timeout_close, true}]}
}.
