{{profile, "1 node, pool size = 1"},
  {user, "User1"},
  {password_file, "examples/em_password.txt"},
  {nodes, [{"127.0.0.1", 4041}]},
  {connection_options, [
    {reconnect, false},
    {reconnect_time_min, 2000},
    {reconnect_time_max, 120000}]},
  {pool_options, [
    {backlog_size, 1024},
    {max_retries, 0},
    {pool_size, 1},
    {pool_strategy, random}]},
  {socket_options, [
    {mode, binary},
    {packet, raw},
    {buffer, 65535},
    {nodelay, true},
    {send_timeout, 50},
    {send_timeout_close, true}]}
}.

{{profile, "2 nodes, pool size = 3"},
  {user, "User1"},
  {password_file, "examples/em_password.txt"},
  {nodes, [{"127.0.0.1", 4041}, {"127.0.0.1", 4041}]},
  {connection_options, [
    {reconnect, false},
    {reconnect_time_min, 2000},
    {reconnect_time_max, 120000}]},
  {pool_options, [
    {backlog_size, 1024},
    {max_retries, 0},
    {pool_size, 3},
    {pool_strategy, random}]},
  {socket_options, [
    {mode, binary},
    {packet, raw},
    {buffer, 65535},
    {nodelay, true},
    {send_timeout, 50},
    {send_timeout_close, true}]}
}.
